{% extends 'base.html.twig' %}

{% block title %}Liste des societes{% endblock %}

{% block body %}


    <div class="container"  style="margin-top: 150px; margin-bottom: 100px;">
    
        <div class="card">
            <div class="card-header">Liste des clients</div>
            <div class="card-body">
                
                <a href="{{ path('client_add') }}" class="btn btn-primary">Ajouter un client</a>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">nom</th>
                            <th scope="col">prenom</th>
                            <th scope="col">tele</th>
                            <th scope="col">email</th>
                            <th scope="col">evenement</th>
                            <th scope="col">dateVisite</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in clients %}
                            <tr>
                                <td>{{ s.nom }}</td>
                                <td>{{ s.prenom }}</td>
                                <td>{{ s.tele }}</td>
                                <td>{{ s.email }}</td>
                                <td>{{ s.evenement }}</td>
                                <td>{{ s.dateVisite|date('Y-m-d') }}</td>
                                <td>
                                    <a href="{{ path('client_show', {'id':s.id}) }}" class="text-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                                <td>
                                    <a href="{{ path('client_edit', {'id':s.id} )}}" class="text-warning"><i class="fa fa-eraser" aria-hidden="true"></i></a>
                                </td>
                                <td>
                                    <a href="{{ path('client_delete', {'id':s.id} )}}" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    
            </div>
        </div>

    </div>




{% endblock %}
